
Library/PlayerDataCache/Win64/Data/resources.assets
Library/PlayerDataCache/Win64/Data/resources.assets.resS
Library/PlayerDataCache/Win64/Data/resources.resource
Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
